<html>
	<head>
		<title>{{t}}</title>
		<!-- href="/static/assets/style.css"-->
		<link rel="stylesheet" type="text/css"  href="{{ url_for('static',filename='assets/style.css')}}" >
	</head>
<body>
	<h1>{{ h }}</h1>
	<ul>
		<li><a href="/" class="{{ a2 }}">Mainsite</a></li>
		<li><a href="/getstock" class="{{ a3 }}">Nothing here yet..</a></li>
		<li style="float:right"><a href="/about">About</a></li>
	</ul>
	{% if error %}
		<div class="alert alert-danger">
	  		<strong>Error!</strong> {{ error }}
		</div>
	{% endif %}
	<hr>
	{% for stock in stocks %}
		<tr class="datas">
			<td class="symbol">{{ stock["symbol"] }}</td>
			<td class="currentvalue">{{ stock["currentvalue"] }}</td>
			<td class="currency">{{ stock["currency"] }}</td>
		</tr>
	{% endfor %}
</body>
</html>
